@font-face {
    font-family: Azonix;
    src: url('../fonts/Azonix.otf');
}
body {
    font-family: 'Krub', sans-serif;
    background-color: #080808;
}

#landingPage {
    background-image: url("../images/background.png");
    height: 100vh;
}

h1 {
    font-family: Azonix, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 3.7vw;
    letter-spacing: 0.7vw;
    background: -webkit-linear-gradient(#d7d7d7, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right:  25px;
    font-size: 36px;
    margin-left: 50px;
}

fieldset {
    margin-top: 20px;
}

fieldset p {
    margin-bottom: 8px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    display: block;
    width: 49.7vw;
    resize: vertical;
    border-radius: 4px;

}

input[type=submit] {
    display: block;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form_wrapper {
    width: 50vw;
    margin: 5vh auto 0;
}

.white {
    background-color: white;
}

/*PHONE VERSION*/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.logo_wrapper {
    display: block;
    text-align: center;
    padding-top: 7%;
}
.logo_large {
    width: 25vw;
}

nav {
    position: fixed;
    top: 0px;
    right: 0;
}

nav ul {
    padding: 10px 10px 10px 5px;
    margin: 0 1300px 0 0;
    width: 100%;
    text-align: right;
    overflow: hidden;
    background-color: #333;
}
nav ul li {
    display: inline;
    margin-right: 1.2vw;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 10px;
}

nav ul li a:hover {
    background-color: orange;
    padding: 10px;
}

@media only screen and (max-width: 650px) {
    .form_wrapper {
        width: 100vw;
    }

    textarea {
        display: block;
        width: 99vw;
        resize: vertical;
        border-radius: 4px;

    }
    h1 {
        font-size: 2em;
        letter-spacing: 5px;
    }

    .logo_large {
        width: 50vw;
    }

    nav {
        display: block;
        position: static;
        background-color: rgba(0, 0, 0, 0.8);
    }

    nav ul li {
        display: block;
        color: white;
        text-align: left;
        margin: 10px 5px;
    }

    nav ul li a {
        padding: 2px;
    }

    nav ul li a:hover {
        padding: 2px;
    }
}
